<h1 id='logo'>
  NATURE'S PLATE
</h1>
<h2 id='logo-subtitle'>Fresh, Plant Based, Whole Food... To Go</h2>
  <!--<%= link_to Refinery::Core.site_name, refinery.root_path %>-->
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
