/*
  These only apply to the homepage of your site.
*/
#body{
  background: #92d050;
  float: right;
  color: #FFFFFF;
  width: 45%;
  display: inline;
  position: absolute;
  top: 430px;
  height: 175px;
  left: 393px;
  padding: 10px 20px 20px 20px;
}
#bottom_body {
  position: absolute;
  height: 175px;
  top: 677px;
  left: 393px;
  width: 45%;
  display: inline;
  background: #4f81bd;
  float: right;
  color: #FFFFFF;
  padding: 10px 20px 20px 20px;
}
#sidebar {
  padding: 10px 20px 20px 20px;
  width: 213px;
  height: 423px;
  position: absolute;
  top: 430px;
  display: inline;
  background: #d9b28b;
  float:left;
  margin-left: 78px;
  color: #FFFFFF;
}
