@font-face {
    font: {
       family: 'Berlin Sans FB';
       weight: 'normal';
       style: 'normal';
    }
    src: asset-url('berlinsans.ttf', font);
    src: asset-url('berlinsans.ttf', font) format('truetype');
}
$np-blue: #4f81bd;
$np-green: #92d050;
$np-grey: #c0c0c0;
$np-red: #c0504d;
.selected {
  background: $np-grey;
}
#logo
{
  font-family: "Berlin Sans FB", sans-serif; 
  font-size: 5.10em;
  color: #92d050;
  margin-left: 23px;
  margin-top: 19px;
  width: inherit;
}
#logo-subtitle
{
  color: #000000;
  font-size: 2.55em;
  margin-left:133px;
  width: inherit;

}

body {
  background: #FFFFFF;
  font-family: "Berlin Sans FB";
  font-size: 1.05em;
  line-height: 18px;
  width: inherit;
}

#body_content, #side_body_content {
  float: left;
  width: 45%;
  background: white;
  color: #333;
  padding: 20px;
}

#Philosophy-menu-item {
  background: $np-green;
}
#Menu-menu-item {
  background: #4f81bd;
}
#Order-menu-item {
  background: $np-red;
}
#FAQ-menu-item {
  background: $np-green;
}
#Home-menu-item {
  background: $np-blue;
}
#Contact-menu-item {
  background: $np-red;
}
#menu ul {
  .selected {
    background: $np-grey;
  }
  width:inherit;
  list-style: none;
  padding: 0px;
  margin-left: 84px;
  li {
    display: inline;
    float:left;
    width: 75px;
    margin-left: 11px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 16px;
    padding-bottom: 11px;
    text-align:center;
    a {
      text-align:center;
      text-decoration: none;
      width: inherit;
      font-size: 1.25em;
      color: #FFFFFF;
    }
  }
}

