#menu_content{
  position: absolute;
  top: 430px;
  left: 51px;
  /* width: 443px; */
  width: 33%;
  margin-right: 15px;
  background: #4f81bd;
  color: #FFFFFF;
  padding: 10px 20px 20px 20px;
}
#side_menu_content{
  position: absolute;
  top: 430px;
  left:596px;
/*  width: 443px; */
  width: 33%;
  background: #4f81bd;
  color: #FFFFFF;
  padding: 10px 20px 20px 100px;
}
