
<%= render :partial => '/refinery/head' %>

<%= render :partial => '/refinery/header' %>

<!--<div id='philosophy-body'>-->
  <section id='faq_content'>
  <%=raw @page.content_for(:body) %>
  </section>
  <!--</div>-->

